.input {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    flex-direction: column;
}

.input input {
    height: 50px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0 50px;
    color: #fff;
    font-size: 19px;
}

.input input::-webkit-input-placeholder {
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #949494;
}

.logo_input {
    position: absolute;
    height: 15px;
    width: 15px;
    left: 20px;
    top: 18px;
}

.capsLock {
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #ffd80e;
    position: absolute;
    display: flex;
    right: -228px;
}

.language {
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #949494;
    position: absolute;
    display: flex;
    right: -135px;
}

.errorMessage {
    color: red;
    font-size: 14px;
    bottom: -14px;
    padding: 3px;
    display: none;
}

.input input:invalid[data-focused='true'] ~ span {
    display: block;
}

.scaleSecurity {
    display: flex;
    align-items: center;
    margin: 15px 0 -1px 50px;
}

.scaleSecurity__box {
    width: 185px;
    display: flex;

    justify-content: space-between;
}

.scaleSecurity__item {
    height: 2px;
    width: 33px;
    background: #fff;
}

.scaleSecurity__title {
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #949494;
    margin-left: 10px;
}

.active {
    height: 2px;
    width: 33px;
    background: #ffd80e;
}

.validateSVG {
    position: absolute;
    right: -84px;
    top: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 0;
    font-size: 19px;
    -webkit-text-fill-color: #ccc;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}
