.interestingFacts {
    display: flex;
    max-width: 520px;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    height: 410px;
}

.interestingFacts__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid #6D6D6D;
    padding: 19px 0;
}

.interestingFacts__title h4 {
    font-family: Roboto, 'sans-serif';
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin: 0;
}

.interestingFacts__carousel {

}