.welcom {
    background-position: 0px center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcom::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: '';
    height: inherit;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}

.welcom_block {
    max-width: 650px;
    width: 100%;
    height: 705px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    position: relative;
    z-index: 1;
}

.welcom_block__background {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 372px;
}

.welcom_block__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91px;
    background: #202020;
}

.welcom_block__title h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #FFD80E;
}

.welcom_block__actions {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.welcom_block__actions p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #CECECE;
    margin-top: 35px;
}

.welcom_block__actions__social_items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
}

.item {
    list-style: none;
}

.item:nth-child(2) {
    margin-left: 9px;
}

.welcom_block__btn {
    padding: 28px 0 48px 0
}