.input_box {
    position: relative;
    margin-top: 23px;
}

.checkbox_box {
    margin-top: 10px;
}


.button_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33px;
}

.button_box button {
    width: 270px;
    font-size: 18px;
}


.inputs_regist {
    width: 346px !important;
}