.regist {
    margin-top: 10px;
}

.inputs_regist {
    width: 346px !important;
}

.button_box {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 217px !important;
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

}


.button_box {
    margin-top: 20px;
}

.root_btn {
    color: #949494;
    background: #1D1D1D
}

.checkbox1 {
    margin-top: 5px;
}